main > section ul {
    display: grid;
    gap: 1rem;
    place-content: center;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
}


main > section ul img {
    height: 100%;
    width: 100%;
    border: 3px solid transparent;
    transition: border-color .5s ease-in-out, transform .3s ease-in-out;
}

main > section ul img:is(:hover, :focus-within) {
    border-color: var(--secondary-color);
    transform: scale(1.02);
}